// Color
$backgroundColor: #303030;
$primaryColor: #212121;
$accentColor: #9bcef0;

$textColor: rgba(255, 255, 255, 1);
$subtitleColor: rgba(255, 255, 255, 0.85);

$boxShadow: 1px 1px 1px rgba(0,0,0,0.15);

// Layout
$padding: 16px;
$appbarHeight: 64px;
$subtitleHeight: 64px;
$gridColumns: 12;

// Listings
$listingsPerRow: 9;
$listingMargin: 2px;


// Font
$fontSize: 16px;
$fontSize-Secondary: 14px;
